@font-face {
    font-family: 'StarWars';
    src: url('fonts/Starjedi.woff') format('truetype');
}

@font-face {
    font-family: 'StarWars2';
    src: url('fonts/Starjhol.woff') format('truetype');
}

header {
    height: 10vh;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 10vh;
    width: 100vw;
    opacity: 0;
    z-index: 2;
}

footer:hover {
    opacity: 1;
}


body {
    background-image: url('images/background.jpg');
    color: yellow;
    font-family: 'StarWars', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    position: relative;

}

#intro {
    perspective: 600px; 
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#container {
    color: yellow;
    text-align: center;
    transform: rotateX(25deg); /* nachylenie */
    transform-origin: bottom center;
    animation: scrollText 60s linear forwards;
    position: absolute;
    bottom: 100%;
    width: 100%;
    letter-spacing: 1px;
    animation-delay: 4s;
}

h1, h2, h3, p {
    margin: 10px 0;
    width: 50vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;

}

ul, li {
    list-style-type: none;
}
 .heroes{
     border-radius: 5px;
     border: 1px solid yellow;
 }

a {
    color: #ff0000;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(245, 108, 108, 0.6);
    text-decoration: none;
    font-size: 1.8rem;
    z-index: 2;
}

#hiding {
    color: rgb(0, 221, 255);
    font-family: "Droid Sans", arial, verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 25%;
    opacity: 1;
    animation: disappearAnimation 3s forwards;
}



#titleContent {
    font-family: 'StarWars2', sans-serif;
    font-size: 3rem;
    position: absolute;
    top: 30%;
    left: 25%;
    opacity: 0;
    animation: showTitleBody 7s forwards;
    animation-delay: 3s;
}

.content3, .content4 {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    text-align: center;
    padding: 10px;
}

@keyframes scrollText {
    0% {
        top: 100%;
    }
    100% {
        top: -350%;
    }
}

@keyframes disappearAnimation {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes showTitleBody {
    0% {
        opacity: 0;
        font-size: 3rem;
    }
    10% {
        opacity: 1;
    }
    100% {
        font-size: 0rem;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: 0.8rem;
    }
    body {
        font-size: 0.5rem;
    }
    a {
        font-size: 0.9rem;
    }
}